---
{# ESTA É A CORREÇÃO CRÍTICA: #}
{# 1. Usamos a nossa coleção limpa "tagList" como fonte de dados. #}
{# 2. Removemos o filtro, pois a nossa coleção já está filtrada. #}
pagination:
    data: collections.tagList
    size: 1
    alias: tag
    
permalink: /tags/{{ tag | slugify }}/
layout: 'base.njk'
---
<div class="tag-header">
    <h1>Guides tagged with: <span>{{ tag }}</span></h1>
</div>

<div class="guides-grid">
    {# Esta linha agora funciona perfeitamente, pois a variável 'tag' será sempre única e em minúsculas #}
    {% set postslist = collections[ tag ] %}
    {% for post in postslist | reverse %}
        <a href="{{ post.url }}" class="card-link">
            <article class="card">
                <div class="card-image-wrapper">
                    <img src="{{ post.data.featuredImage }}" alt="View of {{ post.data.title }}" class="card-image">
                </div>
                <div class="card-content">
                    <h3 class="card-title">{{ post.data.title }}</h3>
                    <p class="card-summary">{{ post.data.summary }}</p>
                    <span class="card-read-more">Read Guide →</span>
                </div>
            </article>
        </a>
    {% endfor %}
</div>