---
layout: "base.njk"
---
<article class="article-layout">
    <div class="article-main-content">
        <header class="article-header">
            <h1 class="article-title">{{ title }}</h1>
            <div class="article-meta">
                <div class="author-info">
                    <img src="/images/site/author-avatar.jpg" alt="Author's photo" class="author-avatar">
                    <span>By Unveiled Guides Team</span>
                </div>
                <!-- A secção de botões de partilha foi removida daqui -->
            </div>
        </header>

        {{ content | toc | safe }}

        <div class="article-body">
            {{ content | safe }}
        </div>

        <footer class="article-tags">
            <h4>Tagged In:</h4>
            <ul>
                {% for tag in tags %}
                    {% if tag != 'post' %}
                    <li>
                        <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </footer>
    </div>

    {% if sidebar %}
    <aside class="article-sidebar">
        <div class="sidebar-widget-sticky">
            <h4>{{ sidebar.title }}</h4>
            <div data-gyg-href="https://widget.getyourguide.com/default/activities.frame" data-gyg-locale-code="en-US" data-gyg-widget="activities" data-gyg-number-of-items="3" data-gyg-partner-id="PMW7G72" data-gyg-q="{{ sidebar.query }}"></div>
        </div>
    </aside>
    {% endif %}
</article>